body {
    font-family: 'Archivo';
}
.nav-link {
    color: #004781 !important;
    font-size: 16px;
    font-weight: 600;
}

.navbar {
    background-color: white !important;

}
.w-webflow-badge {
	display: none !important;
}