body {
    font-family: 'Archivo';
}
.nav-link {
    color: #004781 !important;
    font-size: 16px;
    font-weight: 600;
}

.navbar {
    background-color: white !important;

}
.w-webflow-badge {
	display: none !important;
}

@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
}
}

.section-2 {
    position: relative;
    top: -250px;
    background: none;
}

.nav-item.active {
    background: yellow;
}

.bg-blue {
    background: #004781;
}

.section-title-wrapper.full {
    margin-left: 100px;
}

.home-mockup {
    width: 500px;
    left: -250px;
}