    <div class="footer bg-blue">
        <div class="columns w-row">
            <div class="column-4 w-clearfix w-col w-col-4">
                <p class="bottom-footer-paragraph dark"><strong data-new-link="true" class="bold-text">Copyright © 2020
                        IOWN Global Forum | All Rights Reserved | Privacy Policy</strong></p>
            </div>
            <div class="w-col w-col-1"></div>
            <div class="w-col w-col-2"></div>
            <div class="column w-col w-col-2"></div>
            <div class="column-2 w-col w-col-2"><img
                    src="https://uploads-ssl.webflow.com/5e1a4785a7d3a2005330db52/5e1c7be44b6c088c48847b42_facebook.png"
                    alt="" /><img
                    src="https://uploads-ssl.webflow.com/5e1a4785a7d3a2005330db52/5e1c7bf8b320eb7f8d07919b_twitter.png"
                    alt="" /><img
                    src="https://uploads-ssl.webflow.com/5e1a4785a7d3a2005330db52/5e1c7c05a7d3a286213f9263_linkedin.png"
                    alt="" /></div>
            <div class="w-col w-col-1"></div>
        </div>
    </div>